<league-filter></league-filter>
<div ng-class="{'jumbotron':$first}" class="row" ng-repeat="day in allDays" ng-if="$first || day.games">
    <div class="col-xs-12">
        <h1 ng-if="allDays[0] !== day">{{ day.date | date:'EEEE' | toSwedishWeekday }}</h1>
        <h1 ng-if="allDays[0] === day">Idag</h1>
        <p ng-if="!day.games[0].game"> Inga matcher idag</p>
        <table class="table table-hover">
            <thead ng-if="allDays[0] !== day">
                <tr class="text-center">
                    <th ng-if="includeDate" class="col-xs-2">Datum</th>
                    <th class="col-xs-1">Tid</th>
                    <th class="col-xs-3">Hemmalag</th>
                    <th class="col-xs-3">Bortalag</th>
                    <th class="col-xs-3 hidden-xs">Liga</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="matchInfo(game.game)" class="hoverPointer" ng-class="{'gameIsLive': allDays.indexOf(day) === 0 && ((game.game.date | date:'HH') <= now && (game.game.date | date:'HH') < gameIsPassed), 'gameHasEnded': allDays.indexOf(day) === 0 && (gameIsPassed - 4 >= (game.game.date | date:'HH'))}"  ng-repeat="game in day.games | filterArray:filters| orderBy:'game.date':false">
                    <td  ng-if="includeDate">{{game.game.date | date:'dd/MM yyyy' }} </td>
                    <td>{{game.game.date | date:'HH:mm'}}</td>
                    <td>{{game.game.homeTeamName}}</td>
                    <td>{{game.game.awayTeamName}}</td>
                    <td class="hidden-xs">{{game.league}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
